extends layout

block content
  div(class='main')
    h2 내 관심종목
    table
      tr
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        td Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        td Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        td Info
        -for (let i = (page - 1) * 20; i < page * 20 && i < list.length;  i++)
          tr
            td
              form(action='/users/mylistout', method='post', onsubmit="return confirm('정말 삭제하시겠습니까?')")
                input(type='hidden', name='id', value=`${list[i].id}`)
                button(type='submit', style='font-size:5px; padding:5px 5px')
            td
              a(href=`/stockinfo/${list[i].code}`, style='color:black')=list[i].name
            td=list[i].code
            td=list[i].info
    table(style='margin-left: auto; margin-right: auto;')
      -for (let i = Math.max(page - 4 , 1); i < parseInt(list.length/20)+2 && i < Math.max(page - 5 , 1) + 10; i++)
        td &nbsp;&nbsp;
          -if(page == i)  
            a(href=`/users/focus/${i}`, id='pagebutton', , style='color:red; text-decoration: underline;') #{i}
          -else
            a(href=`/users/focus/${i}`, id='pagebutton') #{i}
